extends layout 

block content 
    h1= title
    - var results = [{"name": "Iron Man", "duration": 2.06, "director": "Jon Favreau"}, {"name": "Ghost Rider", "duration": 2.03, "director": "Mark Steven Johnson"}, {"name": "Ratatouille", "duration": 1.51, "director": "Brad Bird"}]
    div.container-fluid
        div.row
            each item, index in results
                div.col-sm-2(onclick=`buy(${index})`) #{item["name"]}, #{item["duration"]}, #{item["director"]}
        

    script. 
        function buy(index) {
            alert("You purchased item " + index);
        }